.header {
    background: #00bdaa;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
}

.troley {
    position: relative;
}

.troley img {
    width: 30px;
}


@import '~antd/dist/antd.min.css';

.ant-carousel .slick-slide {
    text-align: center;
    height: 160px;
    line-height: 160px;
    background: #3b6978;
    overflow: hidden;
  }
  
  .ant-carousel .slick-slide h3 {
    color: #3b6978;
  }